body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 38, 38);
    padding: 10px 20px;
    color: white;
    z-index: 9999;
}

.barra-navegacion .logo {
    font-size: 1.5em;
}

.logo-imagen {
    width: 200px;
    height: auto;
}

.barra-navegacion .barra-busqueda input {
    padding: 5px;
    width: 200px;
}

.barra-navegacion .barra-busqueda button,
.barra-navegacion .acciones-usuario button {
    padding: 5px 10px;
}

button {
    padding: 12px;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #b50000;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.5);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.5);
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 6px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
}
input:focus {
    border-color: #0079d3;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 121, 211, 0.5);
    transform: scale(1.02);
}
.contenedor-principal {
    display: flex;
    margin: 20px;
}

.barra-lateral,
.detalles-pregunta {
    padding-left: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    height: fit-content;
}

.barra-lateral {
    width: 20%;
    margin-right: 20px;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin: 10px 0;
}

.seccion-preguntas {
    width: 50%;
    margin-right: 20px;
    height: 80vh;
    overflow-y: auto;
}

.crear-pregunta button {
    background-color: #f48024;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.lista-preguntas {
    margin: 5px 0;
}

.elemento-pregunta {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.lista-preguntas .elemento-pregunta h3 {
    margin: 0;
}

.detalles-pregunta .respuestas .elemento-respuesta {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.tabla-usuario {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabla-usuario th, .tabla-usuario td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.tabla-usuario th {
    background-color: rgb(255, 38, 38);
    color: white;
    font-weight: bold;
}

.tabla-usuario tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-usuario tr:hover {
    background-color: #f2f2f2;
}

.tabla-usuario th:first-child, .tabla-usuario td:first-child {
    border-left: none;
}

.tabla-usuario th:last-child, .tabla-usuario td:last-child {
    border-right: none;
}

.elemento-respuesta {
    background-color: #b50000;
    width: fit-content;
    color: white !important;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.elemento-respuesta p {
    font-size: 16px;
    line-height: 1.6;
}

.elemento-respuesta p strong {
    color: #e74c3c;
    font-size: 18px;
}
