/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Barra de navegación */
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #edc19d; */
    background-color: rgb(255, 38, 38);
    padding: 10px 20px;
    color: white;
    z-index: 9999;
}

.barra-navegacion .logo {
    font-size: 1.5em;
}

.logo-imagen {
    width: 200px;
    height: auto;
}

.barra-navegacion .barra-busqueda input {
    padding: 5px;
    width: 200px;
}

.barra-navegacion .barra-busqueda button,
.barra-navegacion .acciones-usuario button {
    background-color: white;
    color: #f48024;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    margin: 20px;
}

/* Barra lateral */
.barra-lateral {
    width: 20%;
    padding-left: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    height: fit-content;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin: 10px 0;
}

.seccion-preguntas {
    width: 50%;
    margin-right: 20px;
    height: 100vh; /* O el valor adecuado para tu diseño */
    overflow-y: auto;
}

.crear-pregunta button {
    background-color: #f48024;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.lista-preguntas{
    margin: 20px;
}

.lista-preguntas .elemento-pregunta {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.lista-preguntas .elemento-pregunta h3 {
    margin: 0;
}

.lista-preguntas .elemento-pregunta p {
    margin: 5px 0;
    color: gray;
}

/* Detalles de la pregunta */
.detalles-pregunta {
    width: 30%;
    padding-left: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    height: fit-content;
}

.detalles-pregunta .respuestas .elemento-respuesta {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.tabla-usuario {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabla-usuario th, .tabla-usuario td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.tabla-usuario th {
    background-color: rgb(255, 38, 38);
    color: white;
    font-weight: bold;
}

.tabla-usuario tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-usuario tr:hover {
    background-color: #f2f2f2;
}

.tabla-usuario th:first-child, .tabla-usuario td:first-child {
    border-left: none;
}

.tabla-usuario th:last-child, .tabla-usuario td:last-child {
    border-right: none;
}